<div class="container">
  <h2>Edit Question</h2>
  <form action="/questions/<%=@question.id%>/edit" method="post" class="register_form">
    <label for="question[title]">Title:</label><br>
    <textarea rows="1" cols="50" name="question[title]"><%=@question.title%> </textarea><br><br>
    <label for="question[body]">Body:</label><br>
    <textarea rows="10" cols="50" name="question[body]"><%=@question.body%></textarea><br><br>
    <label for="tags">Add Tags:</label><br>
    <textarea rows="3" cols="50" name="tags"><%=@tag_names%></textarea><br><br>
    <input type="hidden" name="question[user_id]" value="<%= current_user %>">

    <input type="submit" value="Submit Edit" class="top_button">
  </form>

  <form action="/questions/<%=@question.id%>/delete" method="post" class="register_form"><br>
  <input type="submit" value="Delete" class="top_button">
</form>

</div>
