<div>
  <h1> <%= @question.title %> </h1>
  <p> <%= @question.user.username%></p>
  <br>
  <p> <%= @question.body %> </p>
</div>
<div>
  <% if @question.user_id != current_user %>
  <a href="/questions/<%=@question.id%>/upvote">Upvote!</a>
  <% end %>
  <p>Current Votes: <%=@question.count_votes %></p>
  <% if @question.user_id != current_user %>
  <a href="/questions/<%=@question.id%>/downvote">Downvote!</a>
  <% end %>
  <% if @question.user_id == current_user %>
    <p><a href="/questions/<%=@question.id%>/edit">Edit Or Delete</a></p>
  <% end %>
</div>
<h2> Comments on Question </h2>
<h3> Add Comment </h3>
<form method="POST" action="/questions/<%= @question.id %>/comments/new">
  <input type="text" name="text"> </input><br>
  <input type="submit" value="Submit Comment">
</form>
<ul>
  <% @question.comments.each do |comment| %>
  <li><%=comment.text%></li>
  <p> Author: <%= comment.user.username %> </p>
  <% end %>
</ul>
<hr>
<h2> Answers to Question </h2>
<p> Total Answers <%= @answers.length %> </p>
<% @answers.each do |answer| %>
  <p> <%= answer.text %> <%= answer.user.username%> </p>
  <div>
    <a href="/answers/<%=answer.id%>/upvote">Upvote!</a>
    <p>Current Votes: <%=answer.count_votes %></p>
    <a href="/answers/<%=answer.id%>/downvote">Downvote!</a>
  </div>
  <p> Comments </p>
  <% answer.comments.each do |comment| %>
    <%= comment.text %>
    <p> Author: <%= comment.user.username%> </p>
  <% end %>
  <h3> Add Comment </h3>
  <form method="POST" action="/answers/<%= answer.id %>/comments/new">
    <input type="text" name="text"> </input><br>
    <input type="submit" value="Submit Comment">
  </form>
<% end %>
<h2> Your Answer </h2>
<form method="POST" action="/questions/<%= @question.id %>/answers/new">
  <textarea rows="10" cols="50" name="text"> </textarea><br>
  <input type="submit" value="Submit Answer">
</form>
