<div class="main_question_div">

  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li class="error"><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="question_header">
    <h1> <%= @question.title %> </h1>
    <p><a href="/users/profile/<%= @question.user_id%>"> <%= @question.user.username%></a></p>
    <% if @question.user_id == current_user %>
      <p><a class="top_button" href="/questions/<%=@question.id%>/edit">Edit Or Delete</a></p>
    <% end %>
  </div>


    <div class="q_a_container" id="<%= @question.id%>">
      <p> <%= @question.body %> </p>
    </div>

    <div id="q_vote_container" class="vote_container" >
      <% if @question.user_id != current_user %>
      <a id="question_upvote" href="/questions/<%=@question.id%>/upvote"><img src="/images/upvote.png"></img></a>
      <p><span id="current_votes"><%=@question.count_votes %></span></p>
      <a id="question_downvote" href="/questions/<%=@question.id%>/downvote"><img src="/images/downvote.png"></img></a>
      <% end %>

    </div>


  <div class="comment_container">
    <form class="comment_form q_comment_form" method="POST" action="/questions/<%= @question.id %>/comments/new">
      <input class="top_button" class="submit_button" type="submit" value="Add Comment">
      <input class="comment_field" type="text" name="text"> </input>
    </form>
    <ul class="comment_list q_comment_list">
      <% @question.comments.each do |comment| %>
      <%= erb :'comments/_new_comment', locals:{comment: comment}%>
      <% end %>
    </ul>
  </div>

  <div class="answer_score">
    <% if @answers.length == 1 %>
      <p> 1 Answer </p>
    <% else %>
     <p> <%= @answers.length %> Answers </p>
    <% end %>
  </div>


  <% @answers.each do |answer| %>
  <div class="answer_vote_comment" id="<%=answer.id%>">

    <div class="q_a_container">
        <p class="answer_paragraph"> <%= answer.text %> - <a href="/users/profile/<%= answer.user_id%>"> <%= answer.user.username%> </a> </p>
    </div>

    <div class ="vote_container">
      <% if @best_enabled && !answer.best%>
        <a id="choose_best"href="/answers/<%=answer.id%>/best">&#9734</a>
      <% end %>
      <% if answer.best %>
        <p id="is_best">&#9733</p>
      <% end %>

        <a id="answer_upvote" href="/answers/<%=answer.id%>/upvote"><img src="/images/upvote.png"></img></a>
        <p><span class="current_votes"><%=answer.count_votes %></span></p>
        <a id="answer_downvote"href="/answers/<%=answer.id%>/downvote"><img src="/images/downvote.png"></img></a>
    </div>

    <div class="comment_container">
      <ul class="comment_list a_comment_list">
      <% answer.comments.each do |comment| %>
        <%= erb :'comments/_new_comment', locals:{comment: comment}%>
      <% end %>
      </ul>
        <form class="comment_form a_comment_form" method="POST" action="/answers/<%= answer.id %>/comments/new">
          <input class="top_button" class="submit_button" type="submit" value="Add Comment">
          <input class="comment_field" type="text" name="text"> </input>
        </form>

    </div>

  </div>
  <% end %>




  <div class="answer_form">
    <h2> Add Answer </h2>
    <form method="POST" action="/questions/<%= @question.id %>/answers/new">
      <textarea name="text"> </textarea><br>
      <input class="top_button" type="submit" value="Submit Answer">
    </form>
  </div>

</div>
