<body>
  <div class="container">
    <div>
      <h1 id="profile_title"> <%=@user.username %>'s Profile Page </h1>

      <ul class="tabs">
          <li class="active"><a href="#questions">Questions</a></li>
          <li><a href="#answers">Answers</a></li>
          <li><a href="#comments">Comments</a></li>
      </ul>
    </div>

  <div class="tab-content" id="questions">
    <h2> Questions </h2>
    <ul class="profile_list">
      <% @questions.each do |question| %>
        <li><a href="/questions/<%=question.id%>"><%= question.title %></a>
        <% if question.user_id== current_user %>
           <a href="/questions/<%=question.id%>/edit">Edit</a>
        <% end %>
         <%=question.time_since_asked%></li>
      <% end %>
    </ul>
  </div>

  <div class="tab-content" id="answers">
  <h2> Answers </h2>
    <ul class="profile_list">
      <% @answers.each do |answer| %>
          <li><a href="/questions/<%=answer.question_id%>"><%= answer.text %></a>
          <% if answer.user_id== current_user %>
            <a href="/answers/<%=answer.id%>/edit">Edit or Delete</a>
          <% end %>
          <%=answer.time_since_asked%></li>
      <% end %>
    </ul>
  </div>

    <div class="tab-content" id="comments">
    <h2> Comments on Questions </h2>
      <ul class="profile_list">
      <% @comments.each do |comment| %>
        <% if comment.commentable_type == "Question" %>
          <li><a href="/questions/<%=comment.commentable_id%>"><%= comment.text %></a>
            <% if comment.user_id == current_user %>
              <a href="/comments/<%=comment.id%>/edit">Edit or Delete</a>
            <% end %>
            <%=comment.time_since_asked%></li>
        <% end %>
      <% end %>
      </ul>

    <h2> Comments on Answers </h2>
    <ul class="profile_list">
    <% @comments.each do |comment| %>
      <% if comment.commentable_type == "Answer" %>
        <% question_id = Answer.find(comment.commentable_id).question.id %>
        <li><a href="/questions/<%=question_id%>"><%= comment.text %></a>
          <% if comment.user_id == current_user %>
            <a href="/comments/<%=comment.id%>/edit">Edit or Delete</a>
          <% end %>
          <%=comment.time_since_asked%></li>
      <% end %>
    <% end %>
    </ul>
    </div>
  </div>
</body>
